<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Shaurya Goel" %}
{% set overview = "https://stg-7.github.io/FastPagesSTG/" %}
{% set scrumboard = "https://github.com/users/STG-7/projects/1/views/1" %}
{% set repo = "https://github.com/STG-7/FastPagesSTG" %}
{% set authors = "https://stg-7.github.io/FastPagesSTG/about/" %}

