{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Shaurya Goel's Flask Server</strong></h1>
        <p class="text-white"><strong></strong>Adding Pictures and Text Using HTML:</p>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/ronaldo.jpg') }}" alt="Python Development" height="500">
                    <div class="card-body">
                    <h5 class="card-title">Favorite Soccer Player of all time</mark></h5>
                    <p class="card-text">
                        <ol>
                        </ol>
                    </p>
                    <a href="https://www.uefa.com/uefachampionsleague/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/reek.jpg') }}" alt="Flask Development" height="450">
                    <div class="card-body">
                    <h5 class="card-title">Favorite Current Receiver in the NFL</h5>
                    <p class="card-text">
                        <ol>
                        </ol>
                    </p>
                    <a href="https://www.nfl.com/" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/Octane19Kill.jpg') }}" alt="Backend and Persistence" height="600">
                    <div class="card-body">
                    <h5 class="card-title">Insane 19 Kill Game in Apex Legends</h5>
                    <p class="card-text">
                        <ol>
                        </ol>
                    </p>
                    <a href="https://www.ea.com/games/apex-legends" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}